之前都是利用mysql对数据进行查询，今天开始尝试学习利用pandas来达到同样的目的。  
mysql对表的操作无非是各种查询:select * from table (where……) ，以及多表之间联合查询

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6,4), index=list('abcdef'), columns=list('ABCD'))

In [2]:
df

          A         B         C         D
a  1.015662  0.074360  0.934936  0.708961
b -0.386921 -1.845271  0.605620  0.331969
c  0.256198 -1.271927 -1.231024 -0.623353
d  0.952745 -0.777899 -0.066053 -0.604808
e  2.236232  1.546358 -0.627408  1.799799
f -0.518177  1.841124  1.070420 -1.230215

## df[]:一维
行维度：整数切片、标签切片、<布尔数组>  
列维度：标签索引、标签列表、Callable

首先对行进行操作：（sql中where部分）

In [3]:
df[:3]#前三行

          A         B         C         D
a  1.015662  0.074360  0.934936  0.708961
b -0.386921 -1.845271  0.605620  0.331969
c  0.256198 -1.271927 -1.231024 -0.623353

In [4]:
df['a':'c']

          A         B         C         D
a  1.015662  0.074360  0.934936  0.708961
b -0.386921 -1.845271  0.605620  0.331969
c  0.256198 -1.271927 -1.231024 -0.623353

In [5]:
df[[True,True,True,False,False,False]] # 前三行（布尔数组长度等于行数）

          A         B         C         D
a  1.015662  0.074360  0.934936  0.708961
b -0.386921 -1.845271  0.605620  0.331969
c  0.256198 -1.271927 -1.231024 -0.623353

In [6]:
df[df['A']>0] # A列值大于0的行

          A         B         C         D
a  1.015662  0.074360  0.934936  0.708961
c  0.256198 -1.271927 -1.231024 -0.623353
d  0.952745 -0.777899 -0.066053 -0.604808
e  2.236232  1.546358 -0.627408  1.799799

In [7]:
df[(df['A']>0) | (df['B']>0)] # A列值大于0，或者B列大于0的行

          A         B         C         D
a  1.015662  0.074360  0.934936  0.708961
c  0.256198 -1.271927 -1.231024 -0.623353
d  0.952745 -0.777899 -0.066053 -0.604808
e  2.236232  1.546358 -0.627408  1.799799
f -0.518177  1.841124  1.070420 -1.230215

In [8]:
df[(df['A']>0) & (df['C']>0)] # A列值大于0，并且C列大于0的行

          A        B         C         D
a  1.015662  0.07436  0.934936  0.708961

接下来对列进行操作：

In [9]:
df['A']

a    1.015662
b   -0.386921
c    0.256198
d    0.952745
e    2.236232
f   -0.518177
Name: A, dtype: float64

In [10]:
df[['A','B']]

          A         B
a  1.015662  0.074360
b -0.386921 -1.845271
c  0.256198 -1.271927
d  0.952745 -0.777899
e  2.236232  1.546358
f -0.518177  1.841124

In [11]:
df[lambda df: df.columns[0]] # Callable

a    1.015662
b   -0.386921
c    0.256198
d    0.952745
e    2.236232
f   -0.518177
Name: A, dtype: float64

## df.loc[]
二维，先行后列，参数是 标签索引、标签切片、标签列表、<布尔数组>、Callable

In [13]:
df.loc['a', :]#第一行

A    1.015662
B    0.074360
C    0.934936
D    0.708961
Name: a, dtype: float64

In [17]:
df.loc[['a','b','c'], :]

          A         B         C         D
a  1.015662  0.074360  0.934936  0.708961
b -0.386921 -1.845271  0.605620  0.331969
c  0.256198 -1.271927 -1.231024 -0.623353

In [16]:
df.loc['a':'d', :]

          A         B         C         D
a  1.015662  0.074360  0.934936  0.708961
b -0.386921 -1.845271  0.605620  0.331969
c  0.256198 -1.271927 -1.231024 -0.623353
d  0.952745 -0.777899 -0.066053 -0.604808

In [15]:
df.loc[df['A']>0, :]

          A         B         C         D
a  1.015662  0.074360  0.934936  0.708961
c  0.256198 -1.271927 -1.231024 -0.623353
d  0.952745 -0.777899 -0.066053 -0.604808
e  2.236232  1.546358 -0.627408  1.799799

In [18]:
df.loc[:, 'A']

a    1.015662
b   -0.386921
c    0.256198
d    0.952745
e    2.236232
f   -0.518177
Name: A, dtype: float64

In [19]:
df.loc[:, 'A':'C']

          A         B         C
a  1.015662  0.074360  0.934936
b -0.386921 -1.845271  0.605620
c  0.256198 -1.271927 -1.231024
d  0.952745 -0.777899 -0.066053
e  2.236232  1.546358 -0.627408
f -0.518177  1.841124  1.070420

In [21]:
df.loc[:, ['A','B','C']]

          A         B         C
a  1.015662  0.074360  0.934936
b -0.386921 -1.845271  0.605620
c  0.256198 -1.271927 -1.231024
d  0.952745 -0.777899 -0.066053
e  2.236232  1.546358 -0.627408
f -0.518177  1.841124  1.070420

In [24]:
df.loc[:, df.loc['b']>0]          # b行大于0的列

          C         D
a  0.934936  0.708961
b  0.605620  0.331969
c -1.231024 -0.623353
d -0.066053 -0.604808
e -0.627408  1.799799
f  1.070420 -1.230215

In [25]:
df.loc[:, df.iloc[1]>0]           # 1行大于0的列

          C         D
a  0.934936  0.708961
b  0.605620  0.331969
c -1.231024 -0.623353
d -0.066053 -0.604808
e -0.627408  1.799799
f  1.070420 -1.230215

## df.iloc[]